.contact-item{
    width: 250px;
    padding: 15px;
    float: left;
}
.contact-item img{
    width: 100%;
}
.star{
    color: yellowgreen;
    margin: 15px;
    margin-top: 20px !important;
    cursor: pointer;

}
.trash{
    color: darkred;
    margin-left: 10px;
    cursor: pointer;
}
.edit{
    color: green;
    margin-left: 25px;
    cursor: pointer;
}


li{
   
    margin-left: 3%;
}
li h3{
    width: 95%;
    overflow-x: hidden;
    height: 55px;
}
.buttonChange{
    background-color: darkolivegreen;
    width: 100%;
}
.iconsDiv{
  
    margin-left: 23%;
  
}
.contacts{
    border: 2px solid white;
    background-color: rgb(27, 27, 27);
}